{{ define "main" }}

{{ $lang := $.Page.Language.Lang }}

<div class="hero">
	<h1>{{ $.Page.Params.Title }}</h1>
	<div class="description">
		{{ .Content }}
	</div>
</div>

<section class="warmups">
	{{ range .Pages }}
	<article>
		<a class="visually-hidden" aria-hidden="true" href="{{ .Permalink }}">{{ .Title }}</a>
		<a class="blog" href="{{ .Permalink }}">
			{{ $img := (replace .Params.image "." "-mini.") }}
			{{ partial "picture" (dict "img" $img "class" "img") }}
			
			<div class="info">
				<div class="date">{{ partial "icon.html" "calendar" }} {{ partial "date-when.html" (dict "time" .Params.when "lang" $lang) }}</div>
				<h2>{{ .Title }}</h2>
				<span class="brief">{{ .Params.brief }}</span>
				<!-- <div class="reading">{{ .ReadingTime }}</div> -->
				<p>{{ .Summary }} ...</p>
				{{ partial "icon.html" "map-marker" }} <strong>{{ .Params.venue }}</strong><br>
				{{ partial "icon.html" "direction" }} {{ .Params.address }}
			</div>
		</a>
	</article>
	{{ end }}
</section>


{{ end }}
