{{ define "main" }}
{{ $lang := $.Page.Language.Lang }}
<div class="hero" >
	{{ partial "picture" (dict "img" .Params.image "class" "img" "widths" (slice 540 720 960 1140) )}}
	{{ if .Params.imageInfo }}
	<div class="image-info {{ .Params.infoClass | default "light" }}">
		{{- .Params.imageInfo }}
	</div>
	{{ end }}
	
	<div class="description">
		<h1>
			<span>{{ .Title }}</span>
			<small>{{ .Params.brief }}</small>
			<div class="date">{{ partial "icon.html" "calendar" }} {{ partial "date-when.html" (dict "time" .Params.when "lang" $lang) }}</div>
		</h1>
		{{- if .Params.toc }}
		<hr>
		{{ .TableOfContents }} 
		{{ end }}
	</div>
</div>

<section class="content">

	{{ .Content }}
</section>

{{ end }}