{{ define "main" }}

{{ .Content }}

<section>
	<ul class="talks">
		{{ $sessions := where .Site.AllPages ".Section" "talks" }}
		{{ $types := (slice "conference" "quickie" "keynote") }}
		{{ range sort $sessions ".Title" }}
		{{ if intersect (slice .Params.format) $types }}
		<li class="talk tag-{{ anchorize (delimit (.Params.tags | default (slice)) "" ) }}">{{ partial "session.html" . }}</li>
			{{ end }}
		{{ end }}
	</ul>
</section>

{{ end }}
