/* VARIABLES */

:root {
    --container-margin: 16vw;
    --base-text: #424242;
    --primary: #672B61;
    --base-grid-height: 3em !important;
}

@media (prefers-color-scheme: dark) {
    :root {
        --base-text: #F9F9ED;
    }
    .section.schedule main > section.schedule .day .room.even {
        filter: brightness(1.2);
    }
    .section.schedule .room, .section.schedule .room h3 {
        background-color: inherit;
        filter: brightness(2);
    }
    .section.schedule .session > a h4 {
        text-shadow: none;
        font-weight: bold;
    }
    #level-intermediate, #level-beginner, #level-advanced {
        fill: #fff;
        stroke: #fff;
    }
}

/* no img fuori dai limiti*/
img {
    max-width:100%;
}

.home main .info .wrapper {
    grid-template-columns: 1fr;
}
body.home > main > section.container {
    padding: 1rem;
}
body.home > main > section.warmups {
    background-color: #330136;
    padding-bottom: 4rem;
    color: #F9F9ED;
}

.home main .location .map {
    display: block;
    height: calc(100vh - var(--toolbar-height));
    background-position: 50%;
    background-size: cover;
}

.warmups .icon {
    width: 1.5em;
}

.warmups .info .date {
    font-size: 1.4em;
}
.warmups .info h3 {
    font-weight: bolder;
    text-transform: uppercase;
}
.warmups .info p {
    line-height: 1.4rem;
}

.talks h2,
.warmups h2 {
    font-size: 1.6em;
    font-weight: bold;
    display: block !important;
}

.talks > .talk {
    margin: 1rem auto;
    border: thin solid var(--darken-1);
    box-shadow: var(--space-1) var(--space-1) var(--space-2) var(--darken-2);
    border-radius: var(--space-2);
    padding: 1em;
}

.talks > .talk > .tags {
    float: right;
}

/* schedule */

.tag-open {
    background-image: url('/hackit21/images/backgrounds/open.jpg');
  }
  
  .tag-pause {
    background-image: url('/hackit21/images/backgrounds/pause.jpg');
  }
  
  .tag-lunch {
    background-image: url('/hackit21/images/backgrounds/lunch.jpg');
  }
  
  .tag-party {
    background-image: url('/hackit21/images/backgrounds/party.jpg');
  }

  .section.schedule .room h3 {
      height: 4.2em;
  }
  
  /* Talks */

  .talk .type::after {
      content: "";
  }
  .talk .type::before {
      content: "";
  }
  .talk .complexity::before {
      content: "";
  }
.talk h1 {
    font-size: 2.1rem;
    margin-bottom: 1rem;
}
