<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="Description" content="{{ .Site.Params.description }}">
	<meta name="google-site-verification" content="{{ .Site.Params.googleWebmasterKey }}">

	{{ if eq (getenv "HUGO_ENV") "production" | or (eq .Site.Params.env "production") }}
	{{/* NOTE: These Hugo Internal Templates can be found starting at
	https://github.com/gohugoio/hugo/tree/master/tpl/tplimpl/embedded/templates */}}
	{{- template "_internal/opengraph.html" . -}}
	{{- template "_internal/google_news.html" . -}}
	{{- template "_internal/schema.html" . -}}
	{{- template "_internal/twitter_cards.html" . -}}
	{{ template "_internal/google_analytics_async.html" . }}
	{{ end }}

	{{ hugo.Generator }}
	<META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">

	<title>{{ block "title" . }}{{ .Site.Title }} {{ with .Params.Title }} | {{ . }}{{ end }}{{ end }}</title>

	{{ if .Site.Params.appleTouchIcon }}
	<link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.Params.appleTouchIcon }}">
	{{ end }}
	{{ if .Site.Params.favicon32 }}
	<link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.Params.favicon32 }}">
	{{ end }}
	{{ if .Site.Params.favicon16 }}
	<link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.Params.favicon16 }}">
	{{ end }}
	{{ if .Site.Params.manifest }}
	<link rel="manifest" href="{{ .Site.Params.manifest }}">
	{{ end }}
	{{ if .Site.Params.themeColor }}
	<meta name="theme-color" content="{{ .Site.Params.themeColor }}"/>
	<meta name="msapplication-TileColor" content="#{{ .Site.Params.themeColor }}">
	{{ if .Site.Params.safariPinnedTab }}
	<link rel="mask-icon" href="{{ .Site.Params.safariPinnedTab }}" color="{{ .Site.Params.themeColor }}">
	{{ end }}
	{{ end }}

	<link href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}"/>
	<link href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}"/>

	{{ partial "stylesheets" . }}

</head>
