{{ $lang := "it" }}
	{{ with $.Page.Language.Lang }}
	{{ $lang := . }}
	{{ end }}
	<article class='talk'>
		{{ if .data.Params.tags }}
		<div class="tags">
			{{ range .data.Params.tags }}
			<span>{{ . }}</span>
			{{ end }}
		</div>
		{{ end }}  
		<a class="blog" href="{{ .Permalink }}">
			<div class="info">
				<h3>{{ .data.Title }} </h3>
			</div>
		</a>
		<small> {{time.Format "15:04" .data.Params.start}} - {{time.Format "15:04" .data.Params.end}}</small>
    <small> // @{{.room.label }} </small>
    <hr/>
    <div class="content">{{ .data.Content }}</div>
	</article>
