{{ $lang := "it" }}
	{{ with $.Page.Language.Lang }}
	{{ $lang := . }}
	{{ end }}
	<article>
		<a class="visually-hidden" aria-hidden="true" href="{{ .Permalink }}">{{ .Title }}</a>
		<a class="blog" href="{{ .Permalink }}">
			{{ $img := (replace .Params.image "." "-mini.") }}
			{{ partial "picture" (dict "img" $img "class" "img") }}
			
			<div class="info">
				<div class="date">{{ partial "icon.html" "calendar" }} {{ partial "date-when.html" (dict "time" .Params.when "lang" $lang) }}</div>
				<h3>{{ .Title }} </h3>
				<span class="brief">{{ .Params.brief }}</span>
				<!-- <div class="reading">{{ .ReadingTime }}</div> -->
				<p>{{ .Summary }} ...</p>
				{{ partial "icon.html" "map-marker" }} <strong>{{ .Params.venue }}</strong><br>
				{{ partial "icon.html" "direction" }} {{ .Params.address }}
			</div>
		</a>
	</article>
