{{ $_hugo_config := `{ "version": 1 }` }}
<section class="location">

	<div class="map" style="background-image: url('{{.Get "image"}}')"></div>

	<div class="resolution"></div>

	<div class="description">
		<div class="inner">
			{{ .Inner }}
		</div>

		<div class="direction">
			{{ .Get "address" }}

			<a href="https://www.openstreetmap.org/#map=14/{{ .Get "latitude" }}/{{ .Get "longitude" }}&layers=N"
				class="btn btn-icon-only" target="_blank" rel="noopener noreferrer"
			   aria-label="{{ i18n "home_location_direction" }}">
				{{ partial "icon.html" "direction" }}
			</a>

		</div>

	</div>
</section>
