{{ $_hugo_config := `{ "version": 1 }` }}
<section class="container info warmups">
    <div class="wrapper">
        <div class="inner">
            {{ .Inner }}
            {{ range where $.Site.RegularPages "Section" "warmups" }}
            {{ partial "warmup.html" . }}
            {{ end }}
        </div>
    </div>
</section>
