<!DOCTYPE html>
<html lang="{{ $.Site.Home.Language | default "en" }}">
{{ partial "head.html" . }}

<body class="{{ .Kind }} {{ anchorize .URL }} {{ .Section }}">

{{ readFile "static/icons.svg" | safeHTML }}

{{ block "header" . }}
{{ partial "header.html" . }}
{{ end }}

<main>
	{{ block "main" . }}
	<!-- Missing main block -->
	{{ end }}
</main>


{{ partial "scripts" . }}
</body>

</html>
